<div class="row">
  <form autocomplete="off" materialize class="col s12" [formGroup]="form" (ngSubmit)="onLogin()">
    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" class="validate" formControlName="email" [class.invalid]="form.controls['email'].touched && !form.controls['email'].valid">
        <label for="email" data-error="A valid email is required">
          Email
        </label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" class="validate" formControlName="password" [class.invalid]="form.controls['password'].touched && !form.controls['password'].valid">
        <label for="password" data-error="Password must be at least 6 characters">
          Password
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <button class="btn waves-effect waves-light" type="submit" [disabled]="!form.valid">
          Login<i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  </form>
</div>