<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a routerLink="/" href="#" class="brand-logo" style="padding-left: 15px">
        <img src="assets/img/angular_whiteTransparent.svg" class="docs-angular-logo"> 
        NgRx Firebase LMS
      </a>
      <ul class="right">
        <div *ngIf="user$ | async as user; else userLoggedIn">
          <li routerLinkActive="active">
            {{ user.auth.email }}
          </li>
          <li routerLinkActive="active">
            <a routerLink="/courses">
              <i class="material-icons left">subscriptions</i>Courses
            </a>
          </li>
          <li routerLinkActive="active">
            <a (click)="signOut()">
              <i class="material-icons left">exit_to_app</i>Logout
            </a>
          </li>
        </div>
        <ng-template #userLoggedIn>
          <li routerLinkActive="active">
            <a routerLink="/register">
              <i class="material-icons left">person_add</i>Register
            </a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/login">
              <i class="material-icons left">person</i>Login
            </a>
          </li>
        </ng-template>
      </ul>
    </div>
  </nav>
</div>